.passwordbox {
  position: relative;
}

.input::-ms-reveal {
  display: none;
}

.inputControl {
  margin-right: 25px;
}

.showPassword {
  color: var(--green);
}

.showPassword.showPassword:--enter {
  color: var(--green-hover);
}

.iconButton {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
}
