.panel {
  border: 1px solid var(--theme-color-neutral-border-default);
}

.formTabs {
  border: none;
}

.colorPanel {
  background-color: var(--theme-color-neutral-bg-panel-default);
}

.colorBackground {
  background-color: var(--background);
}
