.button {
  align-items: center;
  background: 0;
  border: 0;
  color: var(--text);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font);
  font-size: var(--font-medium);
  font-weight: var(--font-normal);
  letter-spacing: 0.15px;
  outline: 0;
  padding: 0;
  position: relative;
  text-align: left;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
}

.isDisabled {
  cursor: default;
}

.button:focus,
.isSelected {
  text-decoration: none;
}

.button:not(.isDisabled):focus,
.isSelected {
  color: var(--light);
}

@media (hover: hover) {
  .button:hover {
    text-decoration: none;
  }

  .button:not(.isDisabled):hover {
    color: var(--light);
  }

  .isDisabled:hover {
    cursor: default;
  }
}

.isColorButton {
  border-radius: var(--border-radius);
  justify-content: center;
  letter-spacing: 0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.isIconButton {
  justify-content: center;
}

.icon {
  pointer-events: none;
}

.hasIcon .icon {
  margin-right: var(--padding-small);
}

.colorButtonSizeTiny {
  height: 24px;
  padding: 0 12px;
}

.colorButtonSizeSmall {
  height: 28px;
  padding: 0 12px;
}

.colorButtonSizeMedium {
  height: 38px;
  padding: 0 var(--padding-large);
}

.colorButtonSizeLarge {
  font-size: 15px;
  font-weight: var(--font-bold);
  height: 43px;
  padding: 0 var(--padding-large);
}

.iconButtonSizeTiny {
  height: 20px;
  width: 20px;
}

.iconButtonSizeSmall {
  height: 28px;
  width: 28px;
}

.iconButtonSizeMedium {
  height: 38px;
  width: 38px;
}

.iconButtonSizeLarge {
  height: 48px;
  width: 48px;
}

.width100Percent {
  overflow: hidden;
  width: 100%;
}

.widthLarge {
  max-width: 240px;
  width: 240px;
}

.widthMedium {
  max-width: 160px;
  width: 160px;
}

.widthSmall {
  max-width: 120px;
  width: 120px;
}

.blue {
  background-color: var(--blue);
  color: var(--theme-color-neutral-fg-highlight);
}

.blue:not(.isDisabled):focus {
  background-color: var(--blue-light);
}

@media (hover: hover) {
  .blue:not(.isDisabled):hover {
    background-color: var(--blue-light);
  }
}

.red {
  background-color: var(--red);
  color: var(--theme-color-neutral-fg-highlight);
}

.red:not(.isDisabled):focus {
  background-color: var(--red-light);
}

@media (hover: hover) {
  .red:not(.isDisabled):hover {
    background-color: var(--red-light);
  }
}

.grey {
  background-color: var(--theme-color-core-gray-bg-muted-default);
}

.grey:not(.isDisabled):focus {
  background-color: var(--theme-color-core-gray-bg-muted-default);
}

@media (hover: hover) {
  .grey:not(.isDisabled):hover {
    background-color: var(--theme-color-core-gray-bg-muted-hovered);
  }
}

.greyLight {
  background-color: var(--grey-light);
}

.greyLight:not(.isDisabled):focus {
  background-color: var(--grey-light);
}

@media (hover: hover) {
  .greyLight:not(.isDisabled):hover {
    background-color: var(--grey-light);
  }
}

.white {
  background-color: var(--theme-color-neutral-fg-highlight);
  color: var(--grey-dark);
}

@media (hover: hover) {
  .white:not(.isDisabled):hover {
    background-color: var(--light);
    color: var(--grey-dark);
  }
}

.colorButtonDisabled.colorButtonDisabled.colorButtonDisabled.colorButtonDisabled {
  background-color: var(--theme-color-neutral-bg-accent-default);
  color: var(--theme-color-neutral-bg-panel-default);
}

.loading {
  background-color: inherit;
  border-radius: inherit;
  color: inherit;
}

.success {
  background: var(--green);
  border-radius: inherit;
  color: var(--theme-color-neutral-fg-highlight);
}

.successIcon {
  color: var(--theme-color-neutral-fg-highlight);
}

.hasError {
  background: var(--red);
  border-radius: inherit;
  color: var(--theme-color-neutral-fg-highlight);
}

.error.error {
  border-color: var(--red);
}

.error.error:not(.isDisabled):focus {
  border-color: var(--red-light);
}

@media (hover: hover) {
  .error.error:not(.isDisabled):hover {
    border-color: var(--red-light);
  }
}
