*                                           @WillowInc/platform-engineering
/applications/TwinManagement/               @WillowInc/twin-lifecycle-maintainers
/backstage-components/                      @WillowInc/platform-engineering
/core/                                      @WillowInc/twinplatform-core-services-maintainers
/core/RulesEngine/                          @WillowInc/rules-engine-maintainers
/design-system/                             @WillowInc/design-system-maintainers
/extensions/                                @WillowInc/twinplatform-core-services-maintainers
/extensions/real-estate/back-end/           @WillowInc/real-estate-application-maintainers
/extensions/real-estate/lib/                @WillowInc/real-estate-application-maintainers
/extensions/real-estate/front-end/          @WillowInc/real-estate-web-maintainers
/applications/IngestionPipeline/            @WillowInc/iot-services-maintainers
/applications/CommandAndControl/            @WillowInc/iot-services-maintainers
/applications/EdgeDeploymentDashboard/      @WillowInc/iot-services-maintainers
/applications/ConnectorManagement/          @WillowInc/iot-services-maintainers
/applications/LiveData/				        @WillowInc/iot-services-maintainers
/applications/PublicApi/                    @WillowInc/iot-services-maintainers
/libraries/                                 @WillowInc/twinplatform-core-services-maintainers
/samples/                                   @WillowInc/platform-engineering
/tools/                                     @WillowInc/twinplatform-core-services-maintainers
