<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="WillowGithub" value="https://nuget.pkg.github.com/WillowInc/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="WillowGithub">
      <package pattern="Willow.*" />
      <package pattern="Authorization.TwinPlatform.*" />
      <package pattern="Authorization.Common" />
      <package pattern="Marketplace.*" />
      <package pattern="Willow.Infrastructure.Domain" />
    </packageSource>
  </packageSourceMapping>
</configuration>
