@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.commands-grid .MuiDataGrid-cell {
  white-space: nowrap;
  overflow: hidden;
  min-height: auto;
  max-height: none;
}

