<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <httpRuntime maxUrlLength="9000" maxQueryStringLength="8192" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering allowDoubleEscaping="true" >
                <requestLimits maxUrl="9000" maxQueryString="8192" maxAllowedContentLength="2147483648" />
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="Rewrite AlwaysOn" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{HTTP_USER_AGENT}" pattern="^AlwaysOn$" />
                    </conditions>
                    <action type="Rewrite" url="/healthcheck" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
