{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/properties-alphabetical-order": [
      true,
      {
        "severity": "warning"
      }
    ],
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "‑webkit‑text‑size‑adjust"
        ]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ],
    "selector-class-pattern": [
      "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
      {
        "severity": "warning"
      }
    ],
    "selector-id-pattern": [
      "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
      {
        "severity": "warning"
      }
    ],
    "declaration-block-no-redundant-longhand-properties": [
      true,
      {
        "severity": "warning"
      }
    ],
    "no-descending-specificity": [
      true,
      {
        "severity": "warning"
      }
    ],
    "selector-type-no-unknown": [
      true,
      {
        "severity": "warning"
      }
    ]
  }
}
