.input {
  padding-right: 38px;
}

.button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.showPassword .button {
  color: var(--green);
}

.showPassword:focus .button,
.showPassword:hover .button {
  color: var(--green-light);
}
