.numberPanel {
  border: 1px solid var(--transparent);
}

.border {
  border: 1px solid var(--grey);
}

.sizeSmall {
  padding: var(--padding);
}

.sizeMedium {
  height: 80px;
  padding: var(--padding-small) var(--padding) var(--padding-extra-large);
}

.colorGreen {
  border-color: var(--green-background);
  color: var(--green);
}

.colorYellow {
  border-color: var(--yellow-background);
  color: var(--yellow);
}

.colorRed {
  border-color: var(--red-background);
  color: var(--red);
}

.label {
  padding: 0 var(--padding);
  position: absolute;
  top: 50px;
}
