.resetViewButton {
  background-color: var(--theme-color-neutral-bg-panel-default);
  border: 1px solid var(--theme-color-neutral-border-default);
  margin: var(--padding);
  opacity: 0;
  position: absolute;
  right: 0;
  transform: translate(110%, 0);
  transition: all 0.2s ease;

  /* z-index larger that the labels in three.js */
  z-index: 10000000;
}

.isVisible {
  opacity: 1;
  transform: none;
}
