.main {
  background-color: var(--theme-color-neutral-bg-base-default);
}

.ticketContent {
  padding: var(--padding-large) var(--padding-extra-large);
}

.select {
  min-height: 36px;
  padding-left: 12px;
  width: 100%;
}

.footer {
  align-items: center;
  display: flex;
  height: 70px;
  padding: 0 var(--padding-extra-large);
}

.button {
  flex: 1;
}

.textarea textarea {
  background-color: var(--theme-color-neutral-bg-panel-default);
  padding: 12px;
}
