.svg {
  border: 1px solid var(--theme-color-neutral-border-default);
  flex: 1;
  overflow: hidden;
  transform: scale(1, -1);
}

/* stylelint-disable-next-line */
:global @keyframes svg-enter {
  0% {
    transform: scale(1, 0);
  }

  100% {
    transform: scale(1);
  }
}

.svg g {
  transform: scale(1, 0);
}

@keyframes segment-enter {
  0% {
    fill-opacity: 0;
  }
}

.selectedSegment {
  animation: segment-enter 0.2s ease;
  fill: #fff;
  fill-opacity: 0.3;
  pointer-events: none;
}
