.footerWrapper {
  background-color: var(--theme-color-neutral-bg-accent-default);
  border-top: solid 1px var(--theme-color-neutral-border-default);
  box-shadow: var(--shadow);
}

.smallFont {
  color: var(--theme-color-neutral-fg-subtle);
  font-size: var(--font-small);
  margin-left: 12px;
}

.scroll > div:nth-of-type(1) {
  border-bottom: 1px solid var(--theme-color-neutral-border-default) !important;
  border-top: 1px solid var(--theme-color-neutral-border-default) !important;
}
