.dropdown {
  align-items: center;
  background-color: var(--grey);
  border-radius: 50%;
  display: inline-flex;
  height: 26px;
  justify-content: center;
  padding: 0;
  text-align: center;
  width: 26px;
}

.icon {
  color: var(--theme-color-neutral-fg-highlight);
  height: 12px;
  width: 12px;
}
