.ripples {
  border-radius: inherit;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}

@keyframes enter {
  0% {
    opacity: 0.1;
    transform: scale(0);
  }

  100% {
    opacity: 0.05;
  }
}

.ripple {
  transition: all 0.25s ease-in-out;
}

.content {
  animation: enter 0.25s ease-in forwards;
  background-color: currentcolor;
  height: 100%;
  position: absolute;
  width: 100%;
}

.isLeaving {
  opacity: 0;
}
